VITE_ORCHESTRATOR_API_URL_DEV=https://forge-orchestrator-dev.azurewebsites.net
VITE_ORCHESTRATOR_API_URL_STAGING=https://forge-orchestrator-stage.azurewebsites.net
VITE_ORCHESTRATOR_API_URL_PROD=https://forge-orchestrator-prod.azurewebsites.net
